* {
  box-sizing: border-box;
}

header,
main {
  text-align: center;
}

a {
  text-decoration: none;
  color: green;
}

/* how do I make the icons have their orignal color? */
i {
  padding-right: 10px;
}
